PROJECT_NAME="SupplyPrescript"
API_V1_STR="/api/v1"
ENVIRONMENT="development"

# Database configurations (placeholders for later)
DATABASE_URL="sqlite:///./supply_prescript.db"

# Model configurations (placeholders for later)
MODEL_PATH="../models/"
